// Typography base styles
*{
    font-family: "Inter", sans-serif;
}

html {
    font-size: 100%; // Default 16px
    line-height: 1.5;
}

ul, ol {
    margin: 0 0;
    padding: 0;
    list-style-position: inside;
}
  
blockquote {
    margin: 0 0;
    padding: 0 1em;
    border-left: 0.25em solid #eee;
    color: #555;
    font-style: italic;
}
  
pre, code {
    font-family: "Courier New", Courier, monospace;
}  

.title{
    color: #fff;
    font-weight: 700;
}

.paragraph{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}