@media screen and (max-width: 1024px){
    .hero{
        height: auto !important;

        .container{
            flex-direction: column-reverse;

            .left{
                width: 100% !important;
            }

            .right{
                position: relative !important;
            }
        }
    }

    .about{
        .container{
            .about-info{
                flex-direction: column;
                align-items: center;

                .right{
                    width: 100% !important;
                }
            }
        }
    }

    .the-truth{
        .the-truth-cards{
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }

    .what-do-you-need{
        .cards{
            grid-template-columns: repeat(1,1fr) !important;
        }
    }

    .video-lesson{
        .container{
            flex-direction: column-reverse;
            gap: 50px;

            .left{
                width: 100% !important;
                text-align: left;
            }
        }
    }

    .about-course{
        .cards{
            grid-template-columns: repeat(2,1fr) !important;
        }
    }

    .qa{
        .cards{
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}

@media screen and (max-width: 539px){
    .container{
        width: 95%;
    }

    header{
        .container{
            button{
                display: none;
            }
        }
    }

    .hero{
        .container{
            .left{
                .title{
                    font-size: 48px !important;
                }
            }
        }
    }

    .about{
        .container{
            .stats{
                grid-template-columns: repeat(1,1fr) !important;
            }
        }
    }

    .the-truth{
        .the-truth-cards{
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }

    .what-do-you-need{
        .cards{
            .card{
                padding: 40px;
                width: 100% !important;
                flex-direction: column;

                img{
                    scale: .8;
                }

                .card-number{
                    display: none;
                }
            }
        }
    }

    .about-course{
        .cards{
            grid-template-columns: repeat(1,1fr) !important;
        }
    }

    .popular-brands{
        .container{
            .cards{
                gap: 30px;
                align-items: center;
                flex-direction: column;
            }
        }
    }

    .results{
        .container{
            .cards{
                grid-template-columns: repeat(1, 1fr) !important;
            }
        }
    }
}