.stats-card{
    position: relative;
    border: 3px solid #FFD500;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    z-index: 1;

    span{
        font-size: 36px;
        color: #fff;
        font-weight: 700;
    }

    .paragraph{
        font-size: 28px;
    }

    .bg{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: #FFD500;
        top: -100px;
        right: -50px;
        border-radius: 50%;
        transition: .4s ease-in-out;
        z-index: -1;
    }

    &:hover{
        cursor: pointer;
        color: #fff;

        .bg{
            width: calc(100% + 200px);
            height: calc(100% + 200px);
        }
    }
}

.the-truth-card{
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFD500;
    background-color: #3e3e3f;
    position: relative;

    .left{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card-title{
            font-size: 24px;
            color: #FAE59E;
        }

        .card-description{
            font-size: 24px;
            color: #DDDDDD;
        }
    }

    .right{
        span{
            font-size: 100px;
            color: #FAE59E;
        }

        img{
            position: absolute;
            bottom: 0;
            right: 40px;
        }
    }
}