.stats-card{
    position: relative;
    border: 3px solid #FFD500;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    z-index: 1;

    span{
        font-size: 36px;
        color: #fff;
        font-weight: 700;
    }

    .paragraph{
        font-size: 28px;
    }

    .bg{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: #FFD500;
        top: -100px;
        right: -50px;
        border-radius: 50%;
        transition: .4s ease-in-out;
        z-index: -1;
    }

    &:hover{
        cursor: pointer;
        color: #fff;

        .bg{
            width: calc(100% + 200px);
            height: calc(100% + 200px);
        }
    }
}

.the-truth-card{
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #FFD500;
    background-color: #3e3e3f;
    position: relative;

    .left{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .card-title{
            font-size: 24px;
            color: #FAE59E;
        }

        .card-description{
            font-size: 24px;
            color: #DDDDDD;
        }
    }

    .right{
        span{
            font-size: 100px;
            color: #FAE59E;
        }

        img{
            position: absolute;
            bottom: 0;
            right: 40px;
        }
    }
}

.what-do-you-need{
    .container{
        .cards{
            .card{
                border-radius: 20px;
                background: linear-gradient(108.26deg, #FAE59E 0%, #FFEEB5 51%, #DCC26B 100%);
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .card-desc{
                    width: 265px;
                    font-size: 24px;
                    color: #000;
                    font-weight: 600;
                }

                .card-number{
                    font-size: 160px;
                    color: #000;
                    opacity: .4;
                }
            }
        }
    }
}

.course-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #3e3e3f;
    border: 1px solid #DCC26B;
    border-radius: 20px;
    padding: 20px;

    img{
        width: 80px;
        height: 80px;
    }

    h3{
        font-size: 28px;
        font-weight: 600;
        color: #DCC26B;
    }
}