/* Global styling for Webkit browsers */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #1c1c1e;
}

::-webkit-scrollbar-thumb {
    background: #ffff00;
    border-radius: 6px;
}

::-webkit-scrollbar-button {
    background: #1c1c1e;
}

::-webkit-scrollbar-corner {
    background: #888;
}