.about-course{
    padding: 120px 0px;

    .container{
        display: flex;
        flex-direction: column;
        gap: 60px;

        .title{
            font-size: 48px;
            text-align: center;
        }

        .cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }
    }
}