header{
    height: 10vh;
    background-color: transparent;
    
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: 75px;
        }
    }
}