html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: auto;
}

* {
  margin: 0;
}

body {
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

* {
  font-family: "Inter", sans-serif;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

ul, ol {
  margin: 0 0;
  padding: 0;
  list-style-position: inside;
}

blockquote {
  margin: 0 0;
  padding: 0 1em;
  border-left: 0.25em solid #eee;
  color: #555;
  font-style: italic;
}

pre, code {
  font-family: "Courier New", Courier, monospace;
}

.title {
  color: #fff;
  font-weight: 700;
}

.paragraph {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

header {
  height: 10vh;
  background-color: transparent;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container img {
  width: 150px;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .container .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero .container .left .title {
  font-size: 60px;
}
.hero .container .right {
  position: absolute;
  right: 0;
}

.about {
  width: 100%;
  padding: 120px 0px;
}
.about .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about .container .about-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .container .about-info .left {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid #ffff00;
}
.about .container .about-info .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}
.about .container .about-info .right .title {
  font-size: 48px;
  padding: 10px 0px;
  border-bottom: 1px solid #ffff00;
}
.about .container .about-info .right p {
  font-size: 24px;
}
.about .container .stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.about .container .companies {
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
}
.about .container .companies p {
  font-size: 36px;
  font-weight: 700;
}
.about .container .companies .companies-logo {
  display: flex;
  gap: 60px;
}

.faq {
  width: 100%;
  padding: 120px 0px;
  background-color: #fff;
}
.faq .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.faq .container .first-section, .faq .container .second-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.faq .container .first-section .title, .faq .container .second-section .title {
  text-align: center;
  font-size: 48px;
  color: #000;
}
.faq .container .first-section div, .faq .container .second-section div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.faq .container .first-section div .paragraph, .faq .container .second-section div .paragraph {
  font-size: 24px;
  color: #000;
}
.faq .container .first-section div span, .faq .container .second-section div span {
  font-size: 24px;
  font-weight: 600;
}

.the-truth {
  width: 100%;
  padding: 120px 0px;
}
.the-truth .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.the-truth .container .title {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}
.the-truth .container .title span {
  color: #FFD503;
}
.the-truth .container .the-truth-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.what-do-you-need {
  padding: 120px 0px;
}
.what-do-you-need .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.what-do-you-need .container .title {
  font-size: 48px;
  text-align: center;
}
.what-do-you-need .container .title span {
  color: #FFD503;
}
.what-do-you-need .container .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.what-do-you-need .container .button {
  display: flex;
  justify-content: center;
}

.video-lesson {
  padding: 120px 0px;
}
.video-lesson .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-lesson .container .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.video-lesson .container .left .title {
  font-size: 48px;
}
.video-lesson .container .left .paragraph {
  font-size: 24px;
}

.about-course {
  padding: 120px 0px;
}
.about-course .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about-course .container .title {
  font-size: 48px;
  text-align: center;
}
.about-course .container .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.popular-brands {
  padding: 120px 0px;
}
.popular-brands .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.popular-brands .container .title {
  font-size: 48px;
  text-align: center;
}
.popular-brands .container .cards {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
}
.popular-brands .container .cards img {
  width: 150px;
  height: 150px;
}

.results {
  padding: 120px 0px;
}
.results .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.results .container .title {
  text-align: center;
  font-size: 48px;
}
.results .container .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.results .container .cards .card {
  display: flex;
  align-items: center;
  gap: 30px;
}
.results .container .cards .card p {
  font-size: 24px;
  color: #fff;
}

.qa {
  padding: 120px 0px;
}
.qa .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.qa .container .title {
  font-size: 48px;
  text-align: center;
}
.qa .container .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.qa .container .cards .card {
  padding: 40px;
  background-color: #3e3e3f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.qa .container .cards .card .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qa .container .cards .card .question .title {
  font-size: 28px;
}
.qa .container .cards .card .question span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcc26b;
  border-radius: 50%;
}
.qa .container .cards .card .question span i {
  font-size: 26px;
}
.qa .container .cards .card .answer {
  display: none;
}
.qa .container .cards .card .answer p {
  font-size: 24px;
  color: #999;
}
.qa .container .cards .card.active .answer {
  display: block;
}

/* Global styling for Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c1e;
}

::-webkit-scrollbar-thumb {
  background: #ffff00;
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  background: #1c1c1e;
}

::-webkit-scrollbar-corner {
  background: #888;
}

.container {
  width: 80%;
  max-width: 1940px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 18px 36px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2.2px;
}
.btn.primary-button {
  background-color: #ffff00;
  box-shadow: 0px 0px 50px 0px rgba(255, 213, 3, 0.7294117647);
}

.stats-card {
  position: relative;
  border: 3px solid #FFD500;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  z-index: 1;
}
.stats-card span {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}
.stats-card .paragraph {
  font-size: 28px;
}
.stats-card .bg {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #FFD500;
  top: -100px;
  right: -50px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  z-index: -1;
}
.stats-card:hover {
  cursor: pointer;
  color: #fff;
}
.stats-card:hover .bg {
  width: calc(100% + 200px);
  height: calc(100% + 200px);
}

.the-truth-card {
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFD500;
  background-color: #3e3e3f;
  position: relative;
}
.the-truth-card .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.the-truth-card .left .card-title {
  font-size: 24px;
  color: #FAE59E;
}
.the-truth-card .left .card-description {
  font-size: 24px;
  color: #DDDDDD;
}
.the-truth-card .right span {
  font-size: 100px;
  color: #FAE59E;
}
.the-truth-card .right img {
  position: absolute;
  bottom: 0;
  right: 40px;
}

.what-do-you-need .container .cards .card {
  border-radius: 20px;
  background: linear-gradient(108.26deg, #FAE59E 0%, #FFEEB5 51%, #DCC26B 100%);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.what-do-you-need .container .cards .card .card-desc {
  width: 265px;
  font-size: 24px;
  color: #000;
  font-weight: 600;
}
.what-do-you-need .container .cards .card .card-number {
  font-size: 160px;
  color: #000;
  opacity: 0.4;
}

.course-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: #3e3e3f;
  border: 1px solid #DCC26B;
  border-radius: 20px;
  padding: 20px;
}
.course-card img {
  width: 80px;
  height: 80px;
}
.course-card h3 {
  font-size: 28px;
  font-weight: 600;
  color: #DCC26B;
}

#particles-js {
  height: 100%;
  background-color: #1c1c1e;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}/*# sourceMappingURL=main.css.map */